body{
    background-color: aqua;
}

.container{
    border-top: 50px;
    border-bottom: 50px;
    border-left: 50px;
    border-right:50px;
    border-style:dotted;
    background-color:yellow;
}
.h1{
    text-align: center;
    color: red;

}

.img{
    size:100px;
}

.feedback{
    color:yellow;
}