.container{
    text-align: center;
    margin-top: 100px;
    margin-left:50px;
    margin-right: 500px;
  

}

.input{
    padding:5px;
    display-flex;
    text-align: center;
    margin:left:50px;
    margin-right:300px;
    color:yellow;
    font-weight:500px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    animation:first-line;
}

.button{
    padding: 5px;
    padding-top: 10px;
    text-align:center;
    margin-left:20px;
    margin-right:300px;
    cursor:alias;
    column-rule-style:dotted;
}

.h2{
    color:cornsilk;
    padding-top:30px;
    margin-left:20px;
    margin-right:300px;
    lighting-color: azure;
    text-shadow: 100px;
}

.signup{
    margin-left:270px;
    margin-right:300px;
    padding:5px;
   
}